<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42013854108-7oirqqlteknaa3dho6jqcqrojg3u7k9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42013854108-7oirqqlteknaa3dho6jqcqrojg3u7k9q</string>
	<key>API_KEY</key>
	<string>AIzaSyCU5WAMB7jpnpvNq2SezVBCGWgK0SSb-MA</string>
	<key>GCM_SENDER_ID</key>
	<string>42013854108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopdz</string>
	<key>PROJECT_ID</key>
	<string>votepoll-a06ac</string>
	<key>STORAGE_BUCKET</key>
	<string>votepoll-a06ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42013854108:ios:a2f991ae550bbc1c6ea059</string>
</dict>
</plist>